{% extends 'main.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div>
                <h1>Eventos</h1>
                <hr>
            </div>
            {% for event in events %}
                <div>
                    <h2>{{ event.name }}</h2>
                    <p>{{ event.description }}</p>
                    <a href="{{ event.link }}" target="_blank">Link del evento</a>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-4">
            <div>
                <h1>Sponsors</h1>
                <hr>
            </div>
            {% for sponsor in sponsors %}
                <div>
                    <h2>{{ sponsor.name }}</h2>
                    <p>{{ sponsor.description }}</p>
                    <a href="{{ sponsor.link_company }}" target="_blank">Sitio Web</a>

                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}